<% if logged_in? %>
  <div class="row">
    <div class="col-md-3 toppage-map">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
      <%= link_to image_tag("map-japan.png", { :border => '0'}), prefectures_map_path, class: 'btn btn-lg btn-primary' %>
      <p>県別！みんなの甘味処</p>
    </div>
    
    <div class="col-xs-offset-1 col-xs-5 timeline">
      <p class = "mytimeline">MyTimeLine</p>
      <%= render 'sweets/sweets', sweets: @sweets %>
    </div>
    
    <div class="col-md-3 mypost">
      <p class="mypost-back">自分の甘味処を投稿</p>
      <%= form_for(@sweet) do |f| %>
      
        <div class="form-group">
          <%= f.label :name, '店名' %>
          <%= f.text_field :name, class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= f.label :prefecture_id, '県' %>
          <%= f.collection_select :prefecture_id, @prefectures, :id, :name, {}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :content, '詳細' %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>

        <div class="form-group">
          <%= f.label :image, '写真' %>
          <%= image_tag f.object.image.thumb.url if f.object.image? %>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>

        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
      
    </div>
    
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそ！みんなの甘味処へ！</h1>
    </div>
  </div>
  
  <div class="toppage-map col-sm-3">
  <%= link_to image_tag("map-japan.png", { :border => '0'}), prefectures_map_path, class: 'btn btn-lg btn-primary' %>
  <p>県別！みんなの甘味処</p>
  </div>
  
  <div class="col-sm-4">
    <div class="timeline">
      <h2>新着投稿</h2>
      <%= render 'sweets/sweets', sweets: @sweets %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="timeline">
      <h2>人気ランキング</h2>
      <%= render 'sweets/sweets', sweets: @rank %>
    </div>
  </div>
  
<% end %>